@import url('https://fonts.googleapis.com/css2?family=Sono:wght@300;400;500;600&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Sono', sans-serif;
  /* background-color: #f8f8f8; */
  background-color: #f3f3f3;
}

.container {
  max-width: 95%;
  margin: auto;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  font-size: 1.2rem;
  text-decoration: none;
  color: #000;
  text-transform: capitalize;
}

ul {
  list-style-type: none;
}

button {
  border-radius: 5px;
  padding: 1rem 1.6rem;
  background-color: #27ae60;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
}