.navContainer{
    width: 100%;
    display: flex;
    background-color: aquamarine;
    justify-content: space-between;
}
.navFeatures{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.NavElement{
    margin: 1rem;
}