header {
  background-color: #fff;
  height: 10vh;
  box-shadow: 0 5px 30px rgb(0 22 84 / 10%);
  padding: 1rem 0;
  position: sticky;
  top: 0;
  z-index: 999;
}

header img {
  width: 3.6rem;
}

header a {
  margin-left: 2rem;
  transition: .5s;
  font-weight: 500;
}

header a:hover {
  color: #27ae60;
}

header .toggle {
  display: none;
}

@media screen and (max-width:768px) {
  header {
    padding: 0;
  }

  header img {
    margin-top: 1rem;
  }

  header .button {
    display: none;
  }

  header .nav .flex {
    display: none;
  }

  header .toggle {
    display: block;
    margin-top: .7rem;
  }

  header .small {
    position: absolute;
    top: 10vh;
    left: 0;
    width: 100%;
    background-color: #27ae60;
    padding: 1rem;
  }

  header li a {
    display: inline-block;
    margin-bottom: 1rem;
    color: #fff;
  }
}